# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Packaged docker containers
baseline-algoritm/*.tar.gz
evaluation/*.tar.gz

# Packaged docker containers from participants
*-algoritm/*.tar.gz

# Dataset
dataset/unlabeled/*/
dataset/labeled/*/
dataset/preliminary/*/
dataset/testing/*/

# Packaged ground truths
dataset/*.tar.gz

#  Notebook for uploading the dataset is ignored as it contains the API key
scripts/upload_dataset.ipynb

# Results are ignored as they are not to be made public until the end of the challenge
results/
training-checkpoints/
random-tutor-training-results/

# Proprietary 1.5 T and 0.35 T MRI-linac cine MRI data formats
*.dump
*.dat
*.raw
*.ogv
*.bin

.pixi/
